[loc_mgr]

source = "OnSet"

[wait_new_pose]

max_wait_time_s = 10.0

[stop]

min_stationary_time_s = 5.0

# 10 cm
position_delta_max_magn_m = 0.1

# 10 degrees
attitude_delta_max_magn_rad = 0.174533

[auto_mnvr]

linear_distance_threshold_m = 0.05

# 5 degrees
angular_distance_threshold_rad = 0.0872665