# Electronics driver parameters

# Number of boards
num_boards = 2

# Number of channels connected to the board. (8 or 16 only)
num_channels = [16, 16]

# Address of each board on the I2C bus. Note JSON doesn't support Hex numbers
# so these must be in decimal :(.
#
# Left board is 0x40 (64) and right board is 0x41 (65)
board_addresses = [64, 65]

# Drive axis motor maps. First index is board index, second is motor.
drv_idx_map = [
    [0, 0],
    [0, 1], 
    [0, 2], 
    [1, 0],
    [1, 1],
    [1, 2]
]

# Steer axis motor maps. First index is board index, second is motor.
str_idx_map = [
    [0, 4],
    [0, 5], 
    [0, 6], 
    [1, 4],
    [1, 5],
    [1, 6]
]

# Drive normalised rate coefficients. Normalised are in -1 to 1 range and the
# ServoKit uses the same range so the coeffs are [1, 0] (i.e. sk = norm + 0).
#
# Note right hand motors have their sense reversed as they will drive the wrong
# way otherwise.
drv_rate_norm_to_sk_coeffs = [
    [1.0, 0.0], 
    [1.0, 0.0], 
    [1.0, 0.0], 
    [-1.0, 0.0], 
    [-1.0, 0.0], 
    [-1.0, 0.0]
]

# Steer axis angle coefficients. Angles for SK are in degrees, so the 
# coefficients are just to convert from radians to degrees.
str_ang_rad_to_sk_coeffs = [
    [57.2958, 0.0], 
    [57.2958, 0.0], 
    [57.2958, 0.0], 
    [57.2958, 0.0], 
    [57.2958, 0.0], 
    [57.2958, 0.0]
]