depth_range_mm = [30, 4000]
principle_point_pixels = [320, 240]
focal_length_pixels = [822.878673973, 822.878673973]

depth_img_pos_m_rb = [0.200, 0.0, 0.044]
depth_img_att_q_rb = [0.0, 0.0, -0.7071068, 0.7071068]