# Basic dependabot config to keep our dependencies up to date

version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "arch_rework" # TODO: Update this to master when arch_rework is finished
    reviewers:
      - "duncanrhamill"
